* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    color: orange;
}

.brand-title {
    font-size: 3.5rem;
    margin: .5rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: orange;
    padding: 1rem;
    display: block;
    font-size: 25px;
    font-weight: 400;
    font-family: cursive;
}


.navbar-links li:hover {
    background-color: white;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

h2 {
    color: green;
    text-align: center;
    font-family: cursive;
}

.hero-image {
    width: 50%;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-media {
    background-color: orange;
}

h6 {
    color: green;
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    text-align: center;
    font-size: 30px;
}

.social-media i {
    padding: 5px;
}

.social-media a {
    display: inline-block;
    width: 32%;
    text-align: center;
    padding-top: 2px;
    transition: all 0.3s ease;
    color: green;
    font-size: 26px;
    margin: 5px;
    margin-right: 5px;
}

.social-media a:hover {
    background-color: white;
}

.active {
    background-color: #04AA6D;
}

/* Media Queries 425 pxl max - Phone */

@media (max-width: 425px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        /*display: none;*/
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .brand-title {
        font-size: 2rem;
        margin: .5rem;
        font-family: 'Indie Flower', cursive;
        font-weight: 300;
    }

    .navbar-links li a {
        text-decoration: none;
        color: orange;
        padding: .5rem;
        display: block;
        font-size: .5rem;
        font-weight: 400;
        font-family: cursive;
    }

    .hero-image {
        width: 70%;
        height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        color: green;
        text-align: center;
        font-family: cursive;
    }

    .social-media {
        width: 100%;
        overflow: auto;
    }

    .social-media i {
        padding: 10px;
    }

    .social-media a {
        float: inline-start;
        width: 10%;
        text-align: center;
        transition: all 0.3s ease;
        color: green;
        font-size: 8px;
        margin-right: 2px;
    }



    .social-media a:hover {
        background-color: white;
    }

    .active {
        background-color: #04AA6D;
    }

}

/* Media Queries - 768px max - Table/Ipad sreen*/

@media (max-width: 768px) {
    .hero-image {
        width: 90%;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        color: green;
        text-align: center;
        font-family: cursive;
    }

    .navbar-links li a {
        text-decoration: none;
        color: orange;
        padding: 1rem;
        display: block;
        font-size: 26px;
        font-weight: 400;
        font-family: cursive;
    }

    .social-media i {
        padding: 5px;
    }

    .social-media a {
        display: inline-block;
        width: 30%;
        text-align: center;
        padding-top: 2px;
        transition: all 0.3s ease;
        color: green;
        font-size: 20px;
        margin: 5px;
        margin-right: 5px;
    }

    .social-media a:hover {
        background-color: lightgray;
    }

    .active {
        background-color: #04AA6D;
    }
}